.animation-delay-0 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animation-delay-1 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animation-delay-2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animation-delay-3 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.animation-delay-4 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animate-flipNever {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: flip-never;
  animation-name: flip-never;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.animate-flipSuccess {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: flip-success;
  animation-name: flip-success;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.animate-flipAlmost {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: flip-almost;
  animation-name: flip-almost;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.animate-flipCharReverse {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: flip-char-reverse;
  animation-name: flip-char-reverse;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes flip-never {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(63 63 70);
    border-color: rgb(63 63 70);
  }
}

@keyframes flip-never {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(63 63 70);
    border-color: rgb(63 63 70);
  }
}

@-webkit-keyframes flip-success {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(22 163 74);
    border-color: rgb(22 163 74);
  }
}

@keyframes flip-success {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(22 163 74);
    border-color: rgb(22 163 74);
  }
}

@-webkit-keyframes flip-almost {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(202 138 4);
    border-color: rgb(202 138 4);
  }
}

@keyframes flip-almost {
  0% {
    transform: rotateY(0deg) scale(1, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  50% {
    transform: rotateY(90deg) scale(0, 1);
    background-color: transparent;
    border-color: rgb(63 63 70);
  }
  100% {
    transform: rotateY(180deg) scale(1, 1);
    background-color: rgb(202 138 4);
    border-color: rgb(202 138 4);
  }
}

@-webkit-keyframes flip-char-reverse {
  0% {
    transform: rotateY(0deg) scale(1, 1);
  }
  50% {
    transform: rotateY(-90deg) scale(0, 1);
  }
  100% {
    transform: rotateY(-180deg) scale(1, 1);
  }
}

@keyframes flip-char-reverse {
  0% {
    transform: rotateY(0deg) scale(1, 1);
  }
  50% {
    transform: rotateY(-90deg) scale(0, 1);
  }
  100% {
    transform: rotateY(-180deg) scale(1, 1);
  }
}
